Vue-Project.Server/**/obj
Vue-Project.Server/**/bin

Vue-Project.Serverlogs
Vue-Project.Client/*.log
Vue-Project.Client/npm-debug.log*
Vue-Project.Client/yarn-debug.log*
Vue-Project.Client/yarn-error.log*
Vue-Project.Client/pnpm-debug.log*
Vue-Project.Client/lerna-debug.log*

Vue-Project.Client/node_modules
Vue-Project.Client/dist
Vue-Project.Client/dist-ssr
Vue-Project.Client/*.local

Vue-Project.Client/.vscode/*
Vue-Project.Client/!.vscode/extensions.json
Vue-Project.Client/.idea
Vue-Project.Client/.DS_Store
Vue-Project.Client/*.suo
Vue-Project.Client/*.ntvs*
Vue-Project.Client/*.njsproj
Vue-Project.Client/*.sln
Vue-Project.Client/*.sw?
